{
  "$schema": "https://opencode.ai/config.json",
  "enabled_providers": ["localhost"],
  "disabled_providers": ["openai", "anthropic", "google", "gemini"],
  "provider": {
    "localhost": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "localhost",
      "options": {"baseURL": "http://localhost:11434/v1"},
      "models": {
        "qwen3:4b-instruct-2507-q4_K_M": {"name": "qwen3:4b-instruct-2507", "limit": {"context": 60000, "output": 4096}},
        "qwen3.5:27b-q4_K_M": {"name": "qwen3.5:27b", "limit": {"context": 240000, "output": 8192}, "options": {"reasoningEffort": "none"}},
        "qwen3:30b-a3b-instruct-2507-q4_K_M": {"name": "qwen3:30b-a3b-instruct-2507", "limit": {"context": 60000, "output": 4096}},
        "qwen3.5:35b-a3b-q4_K_M": {"name": "qwen3.5:35b-a3b", "limit": {"context": 240000, "output": 8192}, "options": {"reasoningEffort": "none"}}
      }
    },
  },
  "permission": {
    "edit": {"*": "allow"}, "glob": {"*": "allow"}, "list": {"*": "allow"}, "lsp": {"*": "allow"}, "read": {"*": "allow"}, "task": {"*": "allow"},
    "external_directory": {"*": "ask"}, "webfetch": "ask",
    "mcp_*": "deny", "websearch": "deny",
    "bash": {
      "*": "ask",
      "cat*": "allow", "cd*": "ask", "chmod*": "allow", "df*": "allow", "du*": "allow", "env*": "allow", "file*": "allow","find*": "allow",
      "git diff*": "allow", "git log*": "allow", "git ls-files*": "allow", "git rev-parse*": "allow", "git show*": "allow", "git status*": "allow",
      "grep*": "allow", "head*": "allow", "ls*": "allow", "mkdir*": "allow", "printenv*": "allow", "ps*": "allow", "pwd*": "allow", "rg*": "allow",
      "stat*": "allow", "tail*": "allow", "top*": "allow", "touch*": "allow", "tree*": "allow", "wc*": "allow", "whereis*": "allow", "which*": "allow"
    }
  }
}
